*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#0f172a;
color:white;
}

/* MATRIX */

#matrix{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

/* HEADER */

header{
background:#020617;
padding:20px;
text-align:center;
position:relative;
}

.site-title{
color:#38bdf8;
font-size:28px;
text-shadow:0 0 10px #38bdf8;
}

#themeToggle{
position:absolute;
right:20px;
top:20px;
background:#1e293b;
border:none;
color:white;
padding:8px 12px;
cursor:pointer;
}

/* HERO */

.hero{
text-align:center;
padding:40px;
}

/* LAYOUT */

.container{
display:flex;
}

.sidebar{
width:250px;
background:#020617;
padding:20px;
}

.sidebar button{
width:100%;
padding:10px;
margin:6px 0;
background:#1e293b;
border:none;
color:white;
cursor:pointer;
}

.sidebar button:hover{
box-shadow:0 0 10px #22c55e;
}

/* CONTENT */

.content{
flex:1;
padding:30px;
}

.topic{
display:none;
}

.topic h2{
color:#38bdf8;
margin-bottom:15px;
}

/* DETAILS */

details{
background:#1e293b;
padding:15px;
margin:10px 0;
border-radius:6px;
}

details ol{
padding-left:20px;
}

/* TERMINAL */

.terminal{
background:black;
padding:20px;
color:#22c55e;
font-family:monospace;
margin-top:20px;
}

/* IP SCAN */

.scan-btn{
margin-top:20px;
padding:10px 20px;
background:#22c55e;
border:none;
cursor:pointer;
}

#scanOutput{
margin-top:15px;
font-family:monospace;
color:#22c55e;
}

/* TOOL CARDS */

.tool-card{
background:#1e293b;
padding:15px;
margin-bottom:10px;
border-left:4px solid #38bdf8;
}

.tool-card:hover{
box-shadow:0 0 20px #38bdf8;
}

/* RESOURCE */

.resource-card{
background:#1e293b;
padding:15px;
margin-bottom:10px;
}

/* WORLD MAP */

.world-map-container{
position:relative;
max-width:800px;
}

.world-map{
width:100%;
filter:brightness(0.4);
}

.attack-dot{
position:absolute;
width:10px;
height:10px;
background:red;
border-radius:50%;
animation:pulse 1.5s infinite;
box-shadow:0 0 15px red;
}

@keyframes pulse{
0%{transform:scale(1)}
50%{transform:scale(2)}
100%{transform:scale(1)}
}

/* DASHBOARD */

.dashboard{
display:flex;
gap:20px;
margin-top:30px;
}

.dash-card{
background:#1e293b;
padding:20px;
flex:1;
text-align:center;
border-radius:10px;
box-shadow:0 0 10px #38bdf8;
}

.dash-card h3{
color:#22c55e;
font-size:30px;
}

/* CONTACT */

.contact-section{
margin-top:60px;
padding:40px;
background:#020617;
text-align:center;
}

.contact-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.contact-item{
display:flex;
align-items:center;
gap:10px;
background:#1e293b;
padding:12px 18px;
border-radius:8px;
text-decoration:none;
color:white;
}
