*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f2f6ff;
color:#222;
}

/* HEADER */

header{
background:linear-gradient(90deg,#005bea,#00c6fb);
color:black;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

.site-title{
color:black;
font-weight:bold;
}

/* HERO */

.hero{
background:url("resources/images/cyber-bg.jpg");
background-size:cover;
background-position:center;
height:260px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
text-align:center;
}

/* LAYOUT */

.container{
display:flex;
}

/* SIDEBAR */

.sidebar{
width:260px;
background:#1f2937;
color:white;
padding:20px;
}

.sidebar input{
width:100%;
padding:8px;
margin-bottom:15px;
border-radius:5px;
border:none;
}

.sidebar button{
display:block;
width:100%;
margin:6px 0;
padding:10px;
background:#374151;
color:white;
border:none;
cursor:pointer;
border-radius:6px;
}

.sidebar button:hover{
background:#4b5563;
}

/* CONTENT */

.content{
flex:1;
padding:40px;
background:white;
}

.topic{
display:none;
}

.topic h2{
margin-bottom:15px;
color:#005bea;
}

/* DROPDOWN SUBTOPICS */

details{
background:#e8f0ff;
margin:10px 0;
padding:10px;
border-radius:8px;
}

summary{
font-weight:bold;
cursor:pointer;
color:#1f2937;
}

/* DARK MODE */

body.dark{
background:#0d1117;
color:white;
}

body.dark header{
background:#111;
color:white;
}

body.dark .content{
background:#161b22;
}

body.dark details{
background:#1f2937;
color:white;
}
